<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>





    {% block head %}
    <!-- head -->

        {% block title %}
        <!-- title -->
        {% endblock %}


        {% block menu %}
        <!-- menu -->
        {% endblock %}
    {% endblock %}


    {% block page %}
    <!-- page -->

        {% block content %}
        <!-- content -->
        {% endblock %}
    {% endblock %}


    {% block footer %}
    <!-- footer -->

        {% block copyright %}
        <!-- copyright -->
        {% endblock %}
    {% endblock %}



</body>
</html>